.CSS_CHECKBOX input[type="checkbox"] {
 display: none;
}
.CSS_CHECKBOX input[type="checkbox"] + label {
 display: inline-block;
 background-color: #ccc;
 cursor: pointer;
 padding: 5px 10px;
}
.CSS_CHECKBOX input[type="checkbox"]:checked + label {
 background-color: #f3d42e;
}
.CSS_RADIO input[type="radio"] {
	display: none;
}
.CSS_RADIO input[type="radio"] + label {
	display: inline-block;
	background-color: #ccc;
	cursor: pointer;
	padding: 5px 10px;
}
.CSS_RADIO input[type="radio"]:checked + label {
	background-color: #f00;
	color: #fff;
}

.CSS_BUTTON_CLEANDATE {
    color:#FF0000;
    webkit-border-radius:5px;
    border-radius:5px;   
}

.CSS_BUTTON_REPORTING {
    font-size:x-large;
    color:#0000FF;
    webkit-border-radius:10px;
    border-radius:10px;    
}
.CSS_BUTTON_CLEANREPORT {
    font-size:x-large;
    color:#FF8800;
    webkit-border-radius:10px;
    border-radius:10px;    
}
.CSS_BUTTON_CLEANVALUE {
    font-size:x-large;
    color:#FF0000;
    webkit-border-radius:10px;
    border-radius:10px;   
}
.CSS_BUTTON_CLEANALL {
    font-size:x-large;
    color:#FF0000;
    webkit-border-radius:10px;
    border-radius:10px;   
}

body {
    font-family: 'Inconsolata', monospace;
}
input[type="number"] {
    width: 5em;
}
input[type="text"] {
    width: 9em;
}